<div>
    <div class="product-top">
        <div class="container-inner">
            <a href="#default" class="logo">Home </a>/
            <a href="#default" class="logo">Giới thiệu</a>
            
        </div>
    </div>
  
    <div class="cartcontent">
        <div class="container-inner">
            <div class="row">
            <div id="contentlaptop" >
            
                <h2>Giới thiệu</h2>
                <hr>
                <div *ngFor="let intro of introduces">
                    <div [innerHtml]="intro.content"></div>
                </div>
            </div>
            <div id="contentlaptopx" >
            
                <h2>Có thể bạn quan tâm</h2>
                <hr>
                <b><h2><a href="">1. Laptop Lenovo Giảm sốc 1 triệu hoặc Trả góp 0%</a></h2></b><p></p>
                <b><a href=""><h2>2. Dell Latitude 3520 - Lựa chọn hàng đầu cho đối tượng nhân viên văn phòng, cũng như thế hệ sinh viên ngày nay</h2></a></b><p></p>
                <b><a href=""><h2>3. CPU Intel Core i5-12600K: Hiệu năng ổn định, giá thành tốt nhất</h2></a></b><p></p>
                <b><a href=""><h2>4. Gợi ý chuột máy tính dành cho Windows 11, phù hợp cho dân văn phòng và nơi công sở</h2></a></b><p></p>
                <b><a href=""><h2>5. MUA COMBO ĐỘI ĐỎ & CHIA SẺ CẢM NHẬN CỦA BẠN</h2></a></b><p></p>
                <b><a href=""><h2>6. Chuột máy tính Bluetooth giá ngon, bổ, rẻ, đáng mua trong năm 2022</h2></a></b><p></p>
            </div>
            </div>
        </div>
    </div>
</div>
