.product-top {
    background-color: #c4c4c4;
    height: 30px;
    padding-top: 2px;
}

.container-inner {
    padding-left: 102px;
    padding-right: 6vw;
    
    
}

.cartcontent {
    background-color: #ededed; 
    display: flex;
    justify-content: center;

}

.productcontent {
    padding-top: 20px;
}

#contentlaptop {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    padding: 0px 20px 10px 20px;
    margin-top: 30px;
  }

  .cartcontent .button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    outline: none;
  }

  .cartcontent .button1{
    background-color: #f6b66b; 
    color: black; 
    border: 2px solid #f6b66b;
  }

  .cartcontent .button1:hover{
    background-color: #ba772b;
    color: black;

  }

  .center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
  }

  .center { 
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

  .infor input{
    margin-bottom: 20px;
  }

  

