<app-header></app-header>
<div>
    <div class="product-top">
        <div class="container-inner">
            <a href="#default" class="logo">Home </a>/
            <a href="#default" class="logo">Giỏ hàng</a>
            
        </div>
    </div>
    <div class="cartcontent">
        <div class="col-md-10">
            <div id="contentlaptop" >
                <table class="table" >
                    <thead>
                      <tr>

                        <th scope="col"><h3>Giỏ hàng</h3></th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Màu sắc</th>
                        <th scope="col">
                            <div class="total"  style="float: right;">Giá</div>
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>
                            <div class="row">
                                <img src="https://philong.com.vn/media/product/250-27443-1.jpg" >
                                <div class="col">
                                <h4>Name product</h4>
                                <button type="submit" class="button button2" style="background-color: rgb(247, 93, 93);">Xóa</button>
                                </div>
                            </div>
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="total"  style="float: right;">
                            <b><p>Tổng x sản phẩm: đ</p></b>
                            <button class="button button1" type="submit" style="float: right;"><b>Thanh toán ngay</b></button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="cartcontent">
        <div class="col-md-10">
        <div id="contentlaptop" >
            <br>
            <br>
        </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
