<div class="logincontent" style="padding-top: 100px;">
        <a href="#default" >CompanyLogo</a>
        <img src="/src/app/static/Linhz.png">
</div>
<div class="logincontent">
    <div class="col-md-4">
        <div id="contentlaptop">
            <b><h3>Đăng nhập</h3></b>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1"><b>Số điện thoại hoặc email</b></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone or email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><b>Mật khẩu</b></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
                </div>
                <br>
                <a href="/products">
                <button (click)="productAll()" type="submit" class="button button1 btn-lg btn-block"><b>Đăng nhập</b></button>
                </a>
              </form>
              <a href="">Quên mật khẩu</a>
        
        </div>
        <button type="submit" class="button2 button3 btn-lg btn-block"><b>Đăng kí</b></button>
    </div>
</div>
<div class="footer-bottom-login">
    <!-- Copyright -->
    <div class="text-center p-3">
      <div class="linkfooter">
      <a href="">Điều khoản sử dụng</a>
      <a href="">Quyền riêng tư</a>
      <a href="">Giúp đỡ</a>
      <p class="text-black">Copyright 2022 ©</p>
      </div>
    </div>
    <!-- Copyright -->
    </div>

