<!-- <mdb-carousel [animation]="'slide'">
  <mdb-carousel-item> -->
    <!-- <img class="w-100" src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/banner-dk.png" alt="First slide"> -->
  <!-- </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).webp" alt="Third slide">
  </mdb-carousel-item>

</mdb-carousel> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/9/1/637975909999659889_F-C1_1200x300-5.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/8/1/637949702783083108_F-C1_1200x300.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/8/1/637949702203521751_F-C1_1200x300.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/12/14/637750929820398764_F-C1_1200x300.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div style="background-color: #ededed;">
  <div class="container-inner">
    <br>
    <h2><b>SẢN PHẨM MỚI</b></h2>
    <div class="productcontent" style="">
      <div class="row" style="">
      <div id="contentlaptop" *ngFor="let product of products">
        <img src="{{product.imageproduct}}" style="width: 200px;
                  height: 120px;
                  object-fit: contain;">
                  <div class="logo">
                  <img src="{{product.brands.logo}}">
                  </div>
                  
                  <b><a href="" routerLink="/home/details/{{product.id}}">{{product.productname | slice:0:30}}...</a></b>
                  <div class="col-md-12">
                  </div> 
                  <!-- <a href="details/{{product.id}}" (click)="productDetails(product.id)"> -->
                  <a href="" routerLink="/home/details/{{product.id}}">
                  <p>{{product.price | number}} đ</p>
                  </a>
                  <button class="button button1">Thêm vào giỏ hàng</button>
      </div>
      </div>
    </div>
  </div>
  </div>
<section class="banner-laptop">
  <div class="box-container">
    <div class="box-laptop b-flex">
      <div class="box-laptop_left">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/product-banner2.png?v=202205191128">
      </div>
      <div class="box-laptop_right">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/title-bannerdk2.png?v=202205191128">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/box-Promo2.png?v=202205191128">

      </div>
      <div>
        <!-- <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/Asseta.png">
        <a class="brn-kpn">Khám phá ngay</a>
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/Assetb.png"> -->
      </div>
    </div>
  </div>
</section>
<section class="gift">
  <div class="box-container">
    <div class="gif-wrapper">
      <div class="gif-title">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/gift-title.png">
      </div>
      <div class="gif-content">
        <img src="">
      </div>
      <div class="gif-btn">

      </div>

    </div>
  </div>
</section>
<img  class="w-100" src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/gift-bg.png">
<img class="w-100" src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/bg-game.png">
<!-- <script>
  $('.carousel').carousel({
    interval: 10
    .carousel('cycle')

  })
</script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.17.1/full-all/ckeditor.js"></script>