@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor';
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js");

.banner-laptop {
    background: url("https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/banner-dk.png") no-repeat center;
    background-size: 100% 100%;
}

.box-container {
    max-width: 1176px;
    margin: 0 auto;
    position: relative;
}

.banner-laptop .box-laptop {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
}



.banner-laptop .box-laptop .box-laptop_left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 72px 0;
}

element.style {
}

.banner-laptop .box-laptop .box-laptop_right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 64px 0;
    text-align: center;
}

.gift {
    background: url("https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/gift-bg.png") no-repeat center;
    background-size: cover;
    padding: 64px 0;
}

.gift .gift-wrapper {
    text-align: center;
}

.container-inner {
    padding-left: 102px;
    padding-right: 6vw;
    
    
}

#contentlaptop {
    width: 200px;
    object-fit: contain;
    border: 0px solid #c3c3c3;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 30px;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 10px;

  }

  #contentlaptop .imagep img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  
  }

  #contentlaptop .logo img{
    width: 30%;
    margin-left: 10px;
  }

  #contentlaptop b{
    margin-left: 10px;
    margin-right: 10px;
  }

  #contentlaptop p{
    margin-left: 10px;
  }

  #contentlaptop .button{
    margin-top: 50px;
    padding: 5px 29px 5px 30px;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    
  }

  #contentlaptop .button1{
    background-color: #f6b66b; 
    color: black; 
    border: 2px solid #f6b66b;
  }

  #contentlaptop .button1:hover{
    background-color: #df9a4b;
    color: black;

  }

  .button:active {
    box-shadow: 0 5px rgb(255, 210, 63);
    transform: translateY(1px);
  }

  a{
    text-decoration: none;
  }

  .productcontent h3{
    
  }

.productcontent .item{
  margin-bottom: 30px;
}
