<!-- <mdb-carousel [animation]="'slide'">
  <mdb-carousel-item> -->
    <!-- <img class="w-100" src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/banner-dk.png" alt="First slide"> -->
  <!-- </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).webp" alt="Third slide">
  </mdb-carousel-item>

</mdb-carousel> -->
<section class="banner-laptop">
  <div class="box-container">
    <div class="box-laptop b-flex">
      <div class="box-laptop_left">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/product-banner2.png?v=202205191128">
      </div>
      <div class="box-laptop_right">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/title-bannerdk2.png?v=202205191128">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/box-Promo2.png?v=202205191128">

      </div>
      <div>
        <!-- <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/Asseta.png">
        <a class="brn-kpn">Khám phá ngay</a>
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/Assetb.png"> -->
      </div>
    </div>
  </div>
</section>
<section class="gift">
  <div class="box-container">
    <div class="gif-wrapper">
      <div class="gif-title">
        <img src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/gift-title.png">
      </div>
      <div class="gif-content">
        <img src="">
      </div>
      <div class="gif-btn">

      </div>

    </div>
  </div>
</section>
<img  class="w-100" src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/gift-bg.png">
<img class="w-100" src="https://fptshop.com.vn/landing-laptop-gaming/Content/Desktop/images/bg-game.png">