<div class="header">
    <div class="container-inner">
    <div class="header-left">
    <a href="products" class="logo">CompanyLogo</a>
  </div>
    <!-- <div class="header-center">
      <div class="cate">
      <a href="#home">Home</a><input type="text" id="fsearch" name="fsearch">
      <a href="#home">Home</a>
    </div>
    </div> -->
    <div class="header-right">
      <a href="#home">Vietnamese</a>
      <a href="login">Đăng nhập</a>
      <a href="#about">Đăng ký</a>
      <a href="carts">Giỏ hàng</a>
    </div>
    </div>
  </div>
    <div class="header-bottom">
      <div class="container-inner">
      <b>
      <a href="products" class="logo">Danh mục sản phẩm</a>
      <a href="#default" class="logo">Giảm giá</a>
      <a href="#default" class="logo">Bán chạy</a>
      <a href="news" class="logo">Tin tức</a>
      
      </b>
      </div>
    </div>
      <!-- <div class="header-center">
        <div class="cate">
        <a href="#home">Home</a><input type="text" id="fsearch" name="fsearch">
        <a href="#home">Home</a>
      </div>
      </div> -->  
