<app-header></app-header>
<div style="background-color: #ededed;">
    <div class="product-top">
    <div class="container-inner">
        <a href="products" class="logo">Home </a>/
        <a href="products" class="logo">Danh mục sản phẩm</a>/
        <a href="#default" class="logo">Tên sản phẩm</a>   
        
    </div>
    </div>
    <div class="container-inner">
      <!-- <div class="container-inner" *ngIf="product"></div> -->
        <div class="detailcontent">
            <div id="contentfilter">
                <div class="col">
                    <br>
                    <h2>Tên sản phẩm</h2>
                    <hr>
                <div class="row">
                <div class="col-md-6">
                <img src="https://philong.com.vn/media/product/27443-1.jpg">
                </div>
                <div class="col-md-6">
                <b>
                    <p>Giá: </p>
                    <p>Giá ưu đãi:</p>
                    <p>Tình trạng:</p>
                    <div class="row">
                      <div class="col-md-6">
                          <button class="button button1 btn-block">Thêm vào giỏ hàng</button>
                      </div>
                      <div class="col-md-6">
                        <button class="button button2 btn-block">Mua ngay</button>
                      </div>
                      </div>
                    <p>Thông số kĩ thuật:</p>
                    <table class="table table-striped">
                        <tbody>
                          <tr>
                            <th>Hãng sản xuất</th>
                            <td></td>
                          </tr>
                          <tr>
                            <th>Tên sản phẩm</th>
                            <td></td>

                          </tr>
                          <tr>
                            <th>Danh mục</th>
                            <td></td>
                          </tr>
                          <tr>
                            <th>Bộ vi xử lí</th>
                            <td></td>
                          </tr>
                          <tr>
                            <th>Số nhân</th>
                            <td></td>
                          </tr>
                          <tr>
                            <th>Số luồng</th>
                            <td></td>
                          </tr>
                          <tr>
                            <th>RAM</th>
                            <td></td>
                          </tr>
                          <tr>
                            <th>Dung lượng</th>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </b>
                </div>
                </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-inner">
        <div class="detailcontent">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4><b>Thông tin</b></h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h4><b>Hình ảnh</b></h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><h4><b>Bình luận</b></h4></a>
                </li>
              </ul>
            <div id="contentfilter">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="col">
                        <p>Thông tin sản phẩm</p>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="col">
                      <p>Hình ảnh sản phẩm</p>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                      <div class="col">
                      <p>
                        Bình luận của sản phẩm
                      </p>
                    </div>
                    </div>
                  </div>

            </div>
        
        </div>
    </div>
    <div class="container-inner">
        <div class="detailcontentbot">
            <div id="contentfilter">
                <div class="col">
                    <br>
                    <h4><b>Sản phẩm liên quan</b></h4>
                    <hr>
                    <div class="row">
                        <div id="contentlaptop">
                            <img src="https://philong.com.vn/media/product/250-27443-1.jpg">
                            <div class="logo">
                            </div>
                            <a href="/product/detail">
                            <b>Name product</b>
                            </a>
                            <a href="/product/detail">
                            <p>Price product</p>
                            </a>
                        </div>
                        <div id="contentlaptop">
                            <img src="https://philong.com.vn/media/product/250-27443-1.jpg">
                            <div class="logo">
                            </div>
                            <a href="/product/detail">
                            <b>Name product</b>
                            </a>
                            <a href="/product/detail">
                            <p>Price product</p>
                            </a>
                        </div>
                        <div id="contentlaptop">
                            <img src="https://philong.com.vn/media/product/250-27443-1.jpg">
                            <div class="logo">
                            </div>
                            <a href="/product/detail">
                            <b>Name product</b>
                            </a>
                            <a href="/product/detail">
                            <p>Price product</p>
                            </a>
                        </div>
                        <div id="contentlaptop">
                            <img src="https://philong.com.vn/media/product/250-27443-1.jpg">
                            <div class="logo">
                            </div>
                            <a href="/product/detail">
                            <b>Name product</b>
                            </a>
                            <a href="/product/detail">
                            <p>Price product</p>
                            </a>
                        </div>
                        <div id="contentlaptop">
                            <img src="https://philong.com.vn/media/product/250-27443-1.jpg">
                            <div class="logo">
                            </div>
                            <a href="/product/detail">
                            <b>Name product</b>
                            </a>
                            <a href="/product/detail">
                            <p>Price product</p>
                            </a>
                        </div>
                        <div id="contentlaptop">
                            <img src="https://philong.com.vn/media/product/250-27443-1.jpg">
                            <div class="logo">
                            </div>
                            <a href="/product/detail">
                            <b>Name product</b>
                            </a>
                            <a href="/product/detail">
                            <p>Price product</p>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

