<div class="flex">
<div class="header">
    <div class="header-right">
      <div class="row">
      <a href="#home">Vietnamese</a>
      <div *ngIf="isLoggedIn">
      <a href="login">Xin chào: {{username}}</a>
      <a href (click)="logout()">Đăng xuất</a>
      </div>
      <div *ngIf="!isLoggedIn">
        <!-- <a href="/register" class="nav-link" routerLink="register">Sign Up</a> -->
        <a href="/login" class="nav-link" routerLink="login">Về trang chủ</a>
      </div>
    </div>
    </div>
  </div>
</div>

