
<div style="background-color: #ededed;">
    <div class="product-top">
    <div class="container-inner">
        <a href="#default" class="logo">Home </a>/
        <a href="#default" class="logo">Danh mục sản phẩm</a>   
        
    </div>
    </div>
    <div class="container-inner">
        <div class="productcontent">
        <div class="row">
            <div class="col-md-3">
              <b>Bộ lọc</b>
              <div id="contentfilter" >
              <div class="col">
              <br>
              <div class="item">
              <h3>Danh mục<hr></h3>
              <div *ngFor="let category of category">
                <a href="home/category/{{category.id}}">{{category.categoryname}}</a>
              </div>
              </div>
              <div class="item">
              <h3>Hãng<hr></h3>
              <div *ngFor="let brand of brand">
                <a href="home/brand/{{brand.id}}">{{brand.name}}</a>
              </div>
              </div>
              <div class="item">
                <h3>Giá<hr>
                  <a href="">Dưới 10 triệu</a><br>
                  <a href="">10 - 15 triệu</a><br>
                  <a href="">15 - 20 triệu</a><br>
                  <a href="">20 - 25 triệu</a><br>
                  <a href="">25 - 30 triệu</a><br>
                  <a href="">Trên 30 triệu</a>
                </h3>
                </div>
              </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <h2><b style="margin-left:10px;">Tất cả sản phẩm</b></h2>
                <form class="form-inline my-2 my-lg-0" style="margin-left: 522px; ">
                  <input type="search" #key="ngModel" ngModel
                   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Tìm kiếm sản phẩm..." required>
                   <button (click)="searchProduct(key.value)" data-dismiss="modal" class="btn btn-primary" >Tìm kiếm</button>
               </form>

               </div>
               <br>
                <div class="row">
                <div id="contentlaptop" *ngFor="let product of products | paginate: {id:'product', itemsPerPage: 10, currentPage: p}
                                                                        | filter:searchp">
                  <img src="{{product.imageproduct}}" style="width: 200px;
                  height: 120px;
                  object-fit: contain;">
                  <div class="logo">
                  <img src="{{product.brands.logo}}">
                  </div>
                  
                  <b><a href="" routerLink="/home/details/{{product.id}}">{{product.productname | slice:0:30}}...</a></b>
                  <div class="col-md-12">
                  </div> 
                  <!-- <a href="details/{{product.id}}" (click)="productDetails(product.id)"> -->
                  <a href="" routerLink="/home/details/{{product.id}}">
                  <p>{{product.price | number}} đ</p>
                  </a>
                  <button class="button button1" (click)=addtocart(product) >Thêm vào giỏ hàng</button>
              
                </div>
              </div>
        </div> 
    </div>
    <div class="paging"></div>
    </div>
    <pagination-controls id="product" (pageChange)="p = $event" previousLabel="Trước"
    nextLabel="Tiếp" style="text-decoration: none; float: right;"></pagination-controls>
    <br>
    <br>
</div>
</div>

