.container-inner {
    padding-left: 102px;
    padding-right: 6vw;
    
    
}

.container-inner .row b{
    margin-right: 80px;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.product-top {
    background-color: #c4c4c4;
    height: 30px;
    padding-top: 2px;
}

.cartcontent {
    background-color: #ededed; 

    /* justify-content: center; */

}

#contentlaptop {
    background-color: white;
    margin-bottom: 20px;
    padding: 0px 0px 0px 0px;
    padding-left: 18px;
    padding-right: 10px;
    margin-left: 16px;
  }

  #contentlaptopx {
    width: 32%;
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
    padding: 0px 0px 100px 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
  }