.container-inner {
    padding-left: 112px;
    padding-right: 6vw;
    
    
}

.productcontent {
    padding-top: 20px;
}
.product-top {
    background-color: #c4c4c4;
    height: 30px;
    padding-top: 2px;
}