.contentx {
    margin-left: 70px;
    padding-bottom: 20px;
}

.contentxy {
    margin-left: 20px;
    padding-bottom: 20px;
}

#defaultCheck1 {
    width: 20px;
    height: 20px;
}

.table img{
    width: 100px;
    height: 100%;
}

.btna {
    margin-left: 60px;
    margin-bottom: 10px;
}

h3{
    margin-left: 60px;
}

.row {
    margin-right: 0px;
}