<div class="product-top">
    <div class="container-inner">
        <a href="#default" class="logo">Home </a>/
        <a href="#default" class="logo">Liên hệ</a>
        
    </div>
</div>

<div class="cartcontent">
    <div class="container-inner">
        <div class="row">
        <div id="contentlaptopx" class="col-md-5">
            <br>
            <h3><b>LIÊN HỆ - GÓP Ý</b></h3>
            <hr class="hr">
            <p>Mọi thắc mắc xin liên hệ trung tâm chăm sóc khách hàng <b>(84)038 955 9515</b> hoặc điền vào biểu mẫu bên dưới</p>
            <input type="" name="fullname" class="form-control" id="fullname" placeholder="Họ và tên" required><br>
            <input type="" name="phone" class="form-control" id="phone" placeholder="Vai trò" required><br>
            <input type="" name="phone" class="form-control" id="phone" placeholder="Số điện thoại" required><br>
            <input type="" name="email" class="form-control" id="email" placeholder="Email" required><br>
            <input type="" name="phone" class="form-control" id="phone" placeholder="Nhập nội dung" required><br>
            <b><p>File đính kèm (nếu có)</p></b>
            <input type="file" name="phone" class="form-control" id="phone" placeholder="Nhập nội dung"><br>
            <button type="submit" class="btn btn-danger btn-block">Gửi</button>
        </div>
        <div id="contentlaptop" class="">
            <div class="row">

            </div>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1043.2054389794903!2d107.58629007600989!3d16.450491932959217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a1457c1ffc2d%3A0x32d40f91421ce10d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBQaMO6IFh1w6Ju!5e0!3m2!1svi!2s!4v1661781261593!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        </div>
    </div>
</div>
